<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.timecat.module.theme">

    <application>
        <activity android:name="com.timecat.module.theme.ThemeActivity"/>
        <activity android:name="com.timecat.module.theme.ThemeDetailActivity"/>
        <activity android:name="com.timecat.module.theme.DesignMyThemeActivity" />

        <meta-data
            android:name="com.timecat.module.theme.base.GlobalConfiguration"
            android:value="ConfigModule"/>
    </application>

</manifest>