<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!--允许联网 -->
    <!--获取GSM（2g）、WCDMA（联通3g）等网络状态的信息  -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--获取wifi网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--保持CPU 运转，屏幕和键盘灯有可能是关闭的,用于文件上传和下载 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--获取sd卡写的权限，用于文件上传和下载-->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!--允许读取手机状态 用于创建BmobInstallation-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application>
        <!-- 在组件集成宿主时, 由于宿主已经声明了 CommonSDK 的公有 ConfigModule, 所以在这里只需要声明业务组件自己的 ConfigModule -->
        <activity android:name="com.timecat.module.user.search.SearchActivity" />

        <activity
            android:name="com.timecat.module.user.social.user.UserFansListActivity"
            android:noHistory="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity
            android:name="com.timecat.module.user.social.user.UserFollowListActivity"
            android:noHistory="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="com.timecat.module.user.social.cloud.CloudActivity"
            android:theme="@style/ThemeLight" />
        <activity
            android:name="com.timecat.module.user.social.cloud.slice.WorldActivity"
            android:theme="@style/ThemeLight" />
        <activity
            android:name="com.timecat.module.user.social.cloud.channel.CustomChannelActivity"
            android:theme="@style/ThemeLight" />
        <activity
            android:name="com.timecat.module.user.social.moment.MomentEditorActivity"
            android:theme="@style/ThemeLight"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.timecat.module.user.base.UserListBlockActivity"
            android:theme="@style/ThemeLight" />
        <activity
            android:name="com.timecat.module.user.base.TopicListBlockActivity"
            android:theme="@style/ThemeLight" />
        <activity
            android:name="com.timecat.module.user.social.app.AppDetailActivity"
            android:theme="@style/ThemeLight" />
        <activity
            android:name="com.timecat.module.user.social.leaderboard.LeaderBoardHomeActivity"
            android:theme="@style/ThemeLight" />
        <activity
            android:name="com.timecat.module.user.social.leaderboard.RecommendActivity"
            android:theme="@style/ThemeLight" />
        <activity
            android:name="com.timecat.module.user.social.moment.MomentDetailActivity"
            android:theme="@style/ThemeLight" />
        <activity
            android:name="com.timecat.module.user.social.comment.CommentDetailActivity"
            android:theme="@style/ThemeLight" />
        <activity
            android:name="com.timecat.module.user.social.comment.CommentEditorActivity"
            android:theme="@style/ThemeLight" />
        <activity
            android:name="com.timecat.module.user.social.app.add.AddPluginAppActivity"
            android:theme="@style/ThemeLight" />
        <activity
            android:name="com.timecat.module.user.social.app.add.AddAndroidAppActivity"
            android:theme="@style/ThemeLight" />
        <activity
            android:name="com.timecat.module.user.social.app.add.AddiOSAppActivity"
            android:theme="@style/ThemeLight" />
        <activity
            android:name="com.timecat.module.user.social.app.add.AddWindowsAppActivity"
            android:theme="@style/ThemeLight" />
        <activity
            android:name="com.timecat.module.user.social.app.add.AddWebAppActivity"
            android:theme="@style/ThemeLight" />
        <activity
            android:name="com.timecat.module.user.social.forum.AddForumActivity"
            android:theme="@style/ThemeLight" />
        <activity
            android:name="com.timecat.module.user.social.forum.post.PostDetailActivity"
            android:theme="@style/ThemeLight" />
        <activity
            android:name="com.timecat.module.user.social.forum.post.PostEditorActivity"
            android:theme="@style/ThemeLight" />
        <activity
            android:name="com.timecat.module.user.social.forum.AllForumActivity"
            android:theme="@style/ThemeLight" />
        <activity
            android:name="com.timecat.module.user.social.forum.ForumDetailCollapseActivity"
            android:theme="@style/ThemeLight" />
        <activity
            android:name="com.timecat.module.user.social.topic.AddTopicActivity"
            android:theme="@style/ThemeLight" />
        <activity
            android:name="com.timecat.module.user.social.topic.TopicDetailCollapseActivity"
            android:theme="@style/ThemeLight" />
        <activity
            android:name="com.timecat.module.user.social.tag.AllTagActivity"
            android:theme="@style/ThemeLight" />
        <activity
            android:name="com.timecat.module.user.social.topic.AllTopicActivity"
            android:theme="@style/ThemeLight" />
        <activity
            android:name="com.timecat.module.user.social.tag.TagDetailCollapseActivity"
            android:theme="@style/ThemeLight" />
        <activity
            android:name="com.timecat.module.user.social.tag.AddTagActivity"
            android:theme="@style/ThemeLight" />
        <activity
            android:name="com.timecat.module.user.social.user.UserDetailCollapseActivity"
            android:theme="@style/ThemeLight" />
        <activity
            android:name="com.timecat.module.user.social.user.UserSettingActivity"
            android:theme="@style/ThemeLight" />
        <activity
            android:name="com.timecat.module.user.social.moment.AllMomentActivity"
            android:theme="@style/ThemeLight" />
        <activity
            android:name="com.timecat.module.user.game.bag.BagActivity"
            android:theme="@style/ThemeLight" />
        <activity
            android:name="com.timecat.module.user.permission.AllMetaPermissionActivity"
            android:theme="@style/ThemeLight" />
        <activity
            android:name="com.timecat.module.user.permission.AddMetaPermissionActivity"
            android:theme="@style/ThemeLight" />
        <activity
            android:name="com.timecat.module.user.permission.AddHunPermissionActivity"
            android:theme="@style/ThemeLight" />
        <activity
            android:name="com.timecat.module.user.permission.AllHunPermissionActivity"
            android:theme="@style/ThemeLight" />
        <activity
            android:name="com.timecat.module.user.permission.identity.AddIdentityActivity"
            android:theme="@style/ThemeLight" />
        <activity
            android:name="com.timecat.module.user.permission.role.AllRoleActivity"
            android:theme="@style/ThemeLight" />
        <activity
            android:name="com.timecat.module.user.permission.identity.AllIdentityActivity"
            android:theme="@style/ThemeLight" />
        <activity
            android:name="com.timecat.module.user.permission.role.AddRoleActivity"
            android:theme="@style/ThemeLight" />
        <activity
            android:name="com.timecat.module.user.permission.auth.AddAuthEditActivity"
            android:theme="@style/ThemeLight" />
        <activity
            android:name="com.timecat.module.user.permission.auth.AllAuthActivity"
            android:theme="@style/ThemeLight" />
        <activity
            android:name="com.timecat.module.user.search.SelectActivity"
            android:theme="@style/ThemeLight" />
        <activity
            android:name="com.timecat.module.user.social.cloud.slice.RecommendActivity"
            android:theme="@style/ThemeLight" />
        <activity
            android:name="com.timecat.module.user.social.user.AllUserActivity"
            android:theme="@style/ThemeLight" />
        <activity
            android:name="com.timecat.module.user.game.shop.ShopActivity"
            android:theme="@style/ThemeLight" />
        <activity
            android:name="com.timecat.module.user.game.cube.CubeActivity"
            android:theme="@style/ThemeLight" />
        <activity
            android:name="com.timecat.module.user.game.card.CardActivity"
            android:theme="@style/ThemeLight" />
        <activity
            android:name="com.timecat.module.user.social.leaderboard.LeaderBoardCollapseActivity"
            android:theme="@style/ThemeLight" />
        <activity
            android:name=".social.app.add.AddMacAppActivity"
            android:theme="@style/ThemeLight" />
        <activity
            android:name=".social.app.edit.EditPluginAppActivity"
            android:theme="@style/ThemeLight" />
        <activity
            android:name=".social.trace.AllTraceActivity"
            android:theme="@style/ThemeLight" />
        <activity
            android:name=".game.cube.AllOwnCubeActivity"
            android:theme="@style/ThemeLight" />
        <activity android:name=".game.mail.AllMailActivity" />
        <activity android:name=".game.cube.SendCubeActivity" />
        <activity android:name=".game.cube.CubeSkillEditorActivity" />
        <activity android:name=".game.export.GameHomeActivity" />
        <activity android:name=".game.item.ThingItemEditorActivity" />
        <activity android:name=".game.item.DataItemEditorActivity" />
        <activity android:name=".game.item.EquipItemEditorActivity" />
        <activity android:name=".game.item.BuffItemEditorActivity" />
        <activity android:name=".game.task.AllTaskActivity" />
        <activity android:name=".game.task.TaskActivity" />
        <activity android:name=".game.task.activity.UrlActivityEditorActivity" />
        <activity android:name=".game.task.activity.OneTaskActivityEditorActivity" />
        <activity android:name=".game.task.activity.TextUrlActivityEditorActivity" />
        <activity android:name=".game.task.task.DataTaskEditorActivity" />
        <activity android:name=".game.item.CubeItemEditorActivity" />
        <activity android:name=".game.item.PackageItemEditorActivity" />
        <activity android:name=".game.item.AllItemActivity" />
        <activity android:name=".game.task.activity.PriceActivityEditorActivity" />
        <activity android:name=".game.task.activity.AchievementActivityEditorActivity" />
        <activity android:name=".game.task.activity.CardActivityEditorActivity" />
        <activity android:name=".game.task.activity.DoubleActivityEditorActivity" />
        <activity android:name=".game.task.activity.DreamActivityEditorActivity" />
        <activity android:name=".game.task.activity.EveryDayMainActivityEditorActivity" />
        <activity android:name=".game.task.activity.GetBackActivityEditorActivity" />
        <activity android:name=".game.task.activity.LifeActivityEditorActivity" />
        <activity android:name=".game.task.activity.SevenDaySignActivityEditorActivity" />
        <activity android:name=".game.mail.MailEditorActivity" />
        <activity android:name=".social.leaderboard.AddLeaderBoardActivity" />
        <activity android:name=".social.recommend.RecommendEditorActivity" />
        <activity android:name=".game.mail.AllOwnMailActivity" />
        <activity android:name=".game.mail.SendMailActivity" />
        <activity android:name=".game.bag.SendItemActivity" />
        <activity android:name=".game.cube.CubeAttrEditorActivity" />
        <activity android:name=".game.cube.CubeRolesEditorActivity" />
        <activity android:name=".game.task.AllOwnActivityActivity" />
        <activity android:name=".game.task.AllActivityActivity" />
        <activity android:name=".game.task.SendActivityActivity" />
        <activity android:name=".game.shop.ShopEditorActivity" />
        <activity android:name=".game.shop.AllShopActivity" />
        <activity android:name=".game.shop.AllOwnShopActivity" />
        <activity android:name=".game.illustration.AllIllustratedBookActivity" />
        <activity android:name=".game.illustration.cube.AllIdentityIllustratedActivity" />
        <activity android:name=".game.illustration.item.AllItemIllustratedActivity" />

        <meta-data
            android:name="com.timecat.module.user.app.GlobalConfiguration"
            android:value="ConfigModule" />
    </application>

</manifest>